{
    "parser": "babel-eslint",
    "extends": [ 
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier",
        "prettier/react",
        "plugin:jsx-a11y/recommended"
    ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "plugins": [
        "react-hooks",
        "jsx-a11y",
        "import",
        "prettier"
    ],
    "settings": {
        "react": {
          "pragma": "React",
          "version": "detect"
        }
    },
    "rules": {
        "prettier/prettier": "error",
        "no-await-in-loop": "error"
    }
}