.header {
    width: 100%;
    background-color: #3ab7f1;
    color: #ffffff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    padding: 20px 0 20px 0;
    align-items: center;
}

.nav-option {
    margin: 0;
    padding-bottom: 5px;
    width: fit-content;
}

.nav-option:hover {
    color: #1c5975;
}

.nav-option + .nav-option {
    margin-left: 20px;
}

@media (max-width: 500px) {
    .header-content {
        flex-direction: column;
        align-items: flex-start;
        align-content: space-between;
    }

    .nav-option {
        margin-top: 20px;
    }

    .nav-option + .nav-option {
        margin-left: 0px !important;
        margin-top: 10px;
    }
}

.nav-brand {
    margin: 0;
    margin-right: auto;
    width: fit-content;
}

.nav-brand img {
    width: 100px;
    height: auto;
    filter: brightness(0) invert(1);
}
