.repository-stats {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.stat {
    margin-right: 20px;
    margin-bottom: 5px;
}

.stat-count {
    margin-left: 5px;
}

.repository-card {
    min-height: 200px;
    display: grid;
    grid-template-areas: 'name' 'description' 'stats';
    grid-template-rows: auto 1fr auto;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    padding: 30px;
}

.repository-name {
    grid-area: name;
    word-break: break-all;
}

.repository-description {
    grid-area: description;
}

.repository-stats {
    grid-area: stats;
}

.repository-grid {
    display: grid;
    grid-gap: 10px;
    width: 100%;
}

@media (min-width: 1367px) {
    .repository-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1366px) {
    .repository-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 960px) {
    .repository-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 720px) {
    .repository-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
